{% load static tailwind_tags %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Default Val {% endblock %}</title>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    {% block navbar %}
    <div class="float-end flex gap-2 items-center">
      {% if user.is_authenticated %}
      <span class="text-gray-800 font-semibold"
        >Welcome, {{ user.username }}</span
      >

      <a
        href="{% url 'blog' %}"
        class="text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-4 py-2"
      >
        Blog
      </a>

      <a
        href="{% url 'logout' %}"
        class="text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-4 py-2"
      >
        Logout
      </a>

      <a
        href="{% url 'create_blog' %}"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2"
      >
        Create Blog
      </a>

      {% else %}
      <a
        href="{% url 'login' %}"
        class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2"
      >
        Login
      </a>
      <a
        href="{% url 'register' %}"
        class="text-white bg-purple-600 hover:bg-purple-700 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-4 py-2"
      >
        Register
      </a>
      {% endif %}
    </div>
    {% endblock %} {% block content %}{% endblock %}
  </body>
</html>

{% comment %}
<!-- template injecting -->
Jinja2 allows you to write dynamic HTML by mixing Python-like expressions into
your HTML files. {% load static %}
<!-- its means static files will be loaded and injected -->
{% endcomment %}
